$color-primary: #ffe600;
$bg-color-body: #eeeeee;

$font-color-max: #333333;
$font-color-mid: #666666;
$font-color-min: #999999;

$max-width-xl: 1200px;

$form-focus-outline: #666666 solid thin;
$form-input-color: #333333;

$loading-color: #666666;

$box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);

$btn-bg-color: #3483fa;
