$color-primary: #ffe600;
$bg-color-body: #eeeeee;

$font-color-max: #333333;
$font-color-min: #666666;

$max-width-xl: 1200px;

$form-focus-outline: #666666 solid thin;
$form-input-color: #333333;

$loading-color: #666666;
