/*********************/
/***** Generales *****/
/*********************/

// screen
$screen-xl-max-width: 1200px;
$screen-xl-padding-inline: calc($screen-xl-max-width/12);
$screen-xl-margin: 0 auto;

// font
$font-family: var(--font-roboto-flex);
$font-style: normal;
$font-letter-spacing: normal;

// font-colors
$font-color-max: #333333;
$font-color-mid: #666666;
$font-color-min: #999999;

// colors
$color-primary: #ffe600;
$color-secondary: #3483fa;
$color-body: #eeeeee;

//shadow
$box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);

/***** form *****/
$form-font-family: $font-family;
$form-font-style: $font-style;
$form-font-weight: 300;
$form-letter-spacing: $font-letter-spacing;
$form-color: $font-color-max;

//placeholder
$form-placeholder-font-weight: 200;

//focus
$form-focus-outline: $color-secondary solid thin;

/***** button *****/
$button-bg-color: $color-secondary;
