@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $bg-color-body;
  color: $font-color-max;
}

:is(form input, form button):focus {
  outline: $form-focus-outline;
}

form input {
  color: $form-input-color;
  font-family: var(--font-roboto-mono);
}

.container {
  max-width: $max-width-xl;
  margin: 0 auto;
  padding-inline: calc($max-width-xl/12);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.header {
  background: $color-primary;

  &__nav {
    &-container {
      padding-block: 8px 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 24px;
    }

    &-image {
      display: block;
      width: auto;
      height: 40px;
    }
  }
}
