@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $bg-color-body;
}

:is(form input, form button):focus {
  outline: $form-focus-outline;
}

form input {
  color: $form-input-color;
}

.header {
  background: $color-primary;
}

.container {
  max-width: $max-width-xl;
  margin: 0 auto;
  padding-inline: calc($max-width-xl/12);
}

.nav {
  &-container {
    padding-block: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 24px;
  }

  &-logo__image {
    display: block;
    width: auto;
    height: 48px;
  }
}
