@import "./variables";
@import "./mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $color-body;
  color: $font-color-max;
}

form {
  input {
    font-family: $form-font-family;
    font-style: $form-font-style;
    font-weight: $form-font-weight;
    letter-spacing: $form-letter-spacing;
    color: $form-color;

    &::placeholder {
      font-weight: $form-placeholder-font-weight;
    }
  }
}

:is(form input, form button):focus {
  outline: $form-focus-outline;
  z-index: 10;
}

button {
  font-family: $font-family;
}

.screen--xl {
  max-width: $screen-xl-max-width;
  padding-inline: $screen-xl-padding-inline;
  margin: $screen-xl-margin;
}

.visually--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.header {
  background: $color-primary;

  &__nav {
    &--container {
      @include d-flex(row, space-between, center);
      column-gap: 24px;
      padding-block: 12px;
    }

    &--image {
      display: block;
      width: auto;
      height: 40px;
    }
  }
}

.main--container {
  margin-bottom: 150px;
}
