@import "../../styles/variables";

$gap-value: 6px;

.breadcrumb {
  &__container {
    display: flex;
    column-gap: $gap-value;
    margin-block: 16px;
    list-style: none;

    & li:last-child {
      & .breadcrumb__category--value {
        font-weight: 700;
      }

      & .breadcrumb__category--separator {
        display: none;
      }
    }
  }

  &__category {
    &--container {
      display: flex;
      column-gap: $gap-value;
      align-items: center;
      color: $font-color-mid;
    }

    &--value {
      font-size: 14px;
    }

    &--separator {
      stroke-width: 1.5;
      width: 16px;
      height: auto;
    }
  }
}
