@import "../../styles/variables";
@import "../../styles/mixins";

$breadcrumb-column-gap: 6px;

.breadcrumb {
  &__container {
    @include d-flex();
    column-gap: $breadcrumb-column-gap;
    margin-block: 16px;
    list-style: none;

    & li:last-child {
      & .breadcrumb__category--value {
        font-weight: 700;
      }

      & .breadcrumb__category--separator {
        display: none;
      }
    }
  }

  &__category {
    &--container {
      @include d-flex(row, flex-start, center);
      column-gap: $breadcrumb-column-gap;
      color: $font-color-mid;
    }

    &--value {
      font-size: 14px;
    }

    &--separator {
      stroke-width: 1.5;
      width: 16px;
      height: auto;
    }
  }
}
