@import "../../styles/variables";
@import "../../styles/mixins";

.items-list__item {
  &--container {
    @include d-flex();
    width: 100%;
    background: #fff;
  }

  &--link {
    text-decoration: none;
  }

  &--thumbnail {
    &-container {
      display: grid;
      place-items: center;
      min-width: 180px;
      min-height: 180px;
      margin: 16px;
    }

    max-width: 180px;
    max-height: 180px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 4px;
  }

  &--details {
    &-container {
      @include d-flex(column);
      width: 388px;
    }

    &-price {
      @include d-flex();
      column-gap: 5px;
      padding-top: 40px;
      color: $font-color-max;
      font-size: 24px;
      font-weight: 500;
      line-height: 0.7;
    }

    &-shipping {
      padding-left: 4px;
      width: auto;
      height: 16px;
    }

    &-title {
      padding-top: 32px;
      font-size: 18px;
      font-weight: 500;
      color: $font-color-max;
    }
  }

  &--condition {
    @include d-flex(column);
    font-size: 12px;
    padding-top: 48px;
    margin-left: auto;
    min-width: 200px;
    color: $font-color-mid;

    span {
      line-height: 0.7;
    }
  }
}
