@import "../../styles/variables";
@import "../../styles/mixins";

$items-list-border-radius: 4px;

.items-list__container {
  @include d-flex(column);
  list-style: none;
  box-shadow: $box-shadow;
  border-radius: $items-list-border-radius;

  li {
    border-bottom: 1px solid #eeeeee;

    &:first-child {
      border-radius: $items-list-border-radius $items-list-border-radius 0px 0px;
    }

    &:last-child {
      border-radius: 0px 0px $items-list-border-radius $items-list-border-radius;
      border-bottom: none;
    }
  }
}
