$form-height: 40px;
$border-radius: 2px;

.form-search {
  display: flex;
  //column-gap: 1px;
  //background: #fff;
  align-items: center;
  flex-grow: 1;
  height: $form-height;

  &__label {
    display: none;
  }

  &__input {
    font-size: 18px;
    font-weight: 200;
    padding: 10px 14px;
    border: none;
    width: 100%;
    border-radius: $border-radius 0px 0px $border-radius;
  }

  &__button {
    border: none;
    border-radius: 0px $border-radius $border-radius 0px;
    width: $form-height;
    height: $form-height;

    &-icon {
      display: block;
      width: 20px;
      height: auto;
      margin: 0 auto;
    }
  }
}
