@import "../../styles/variables";

$picture-dimension: 620px;

.item-detail {
  &__container {
    display: flex;
    background: #fff;
    column-gap: 32px;
    padding: 32px;
    border-radius: 2px;
    box-shadow: $box-shadow;
  }

  &__col {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__picture {
    &--container {
      min-width: $picture-dimension;
      min-height: $picture-dimension;
      display: grid;
      place-items: center;
    }

    &--image {
      display: block;
      max-width: $picture-dimension;
      max-height: $picture-dimension;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__description {
    &--title {
      padding-top: 32px;
      font-size: 28px;
      font-weight: 600;
      color: $font-color-max;
    }

    &--text {
      padding-top: 32px;
      font-size: 16px;
      line-height: 1.35;
      color: $font-color-mid;
    }
  }

  &__condition {
    padding-top: 32px;
    font-size: 14px;
    color: $font-color-mid;
  }

  &__title {
    padding-top: 16px;
    color: $font-color-max;
    text-wrap: balance;
  }

  &__price {
    display: flex;
    font-size: 46px;
    padding-block: 32px;
    color: $font-color-max;

    &--currency {
      padding-right: 4px;
    }

    &--amount {
      padding-right: 2px;
    }

    &--decimals {
      display: none;
      padding-right: 16px;
      padding-top: 4px;
      font-size: 24px;
      font-weight: 500;
    }
  }

  &__button {
    border: none;
    background: $btn-bg-color;
    border-radius: 4px;
    height: 48px;
    font-size: 18px;
    color: #eeeeee;
    cursor: pointer;
    transition: filter 0.25s;

    &:hover {
      filter: brightness(90%);
    }
  }
}
