@import "../../styles/variables";
@import "../../styles/mixins";

$item-detail-picture-width: 648px;
$item-detail-picture-height: 548px;

.item-detail {
  &__container {
    @include d-flex();
    column-gap: 20px;
    padding: 32px;
    background: #fff;
    box-shadow: $box-shadow;
    border-radius: 2px;
  }

  &__col {
    @include d-flex(column);
    width: 100%;
  }

  &__picture {
    &--container {
      display: grid;
      place-items: center;
      min-width: $item-detail-picture-width;
      min-height: $item-detail-picture-height;
    }

    &--image {
      display: block;
      max-width: $item-detail-picture-width;
      max-height: $item-detail-picture-height;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__description {
    &--title {
      padding-top: 144px;
      font-size: 28px;
      font-weight: 600;
      color: $font-color-max;
    }

    &--text {
      padding-top: 32px;
      font-size: 16px;
      line-height: 1.35;
      color: $font-color-mid;
    }
  }

  &__condition {
    font-size: 14px;
    color: $font-color-mid;
  }

  &__title {
    padding-top: 16px;
    color: $font-color-max;
    text-wrap: balance;
  }

  &__price {
    @include d-flex();
    font-size: 46px;
    padding-block: 32px;
    color: $font-color-max;

    &--reduce {
      font-size: 42px;
    }

    &--currency {
      padding-right: 4px;
    }

    &--amount {
      padding-right: 2px;
    }

    &--decimals {
      padding-top: 4px;
      font-size: 24px;
      font-weight: 500;
    }
  }

  &__button {
    border: none;
    background: $button-bg-color;
    border-radius: 4px;
    height: 48px;
    font-size: 18px;
    color: #eeeeee;
    cursor: pointer;
    transition: filter 0.25s;

    &:hover {
      filter: brightness(90%);
    }
  }
}
