@import "../../styles/variables";

.item-detail {
  &__container {
    background: #fff;
    padding: 32px;
    border-radius: 25px;
  }

  &__details-container {
    display: flex;
  }

  &__picture {
    &-container {
      min-width: 680px;
      display: grid;
      place-items: center;
    }

    &-image {
      display: block;
      max-width: 680px;
      max-height: auto;
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 4px;
    }
  }

  &__right {
    &-container {
      display: flex;
      flex-direction: column;
      padding-left: 16px;
    }

    &-condition {
      font-size: 14px;
      color: $font-color-mid;
    }

    &-title {
      padding-top: 16px;
      color: $font-color-max;
    }

    &-price {
      font-size: 46px;
      padding-block: 32px;
    }
  }

  &__description {
    &-container {
      width: 680px;
    }

    &-title {
      padding-top: 32px;
      font-size: 28px;
      font-weight: 600;
      color: $font-color-max;
    }

    &-description {
      padding-top: 32px;
      font-size: 16px;
      line-height: 1.35;
      color: $font-color-mid;
    }
  }
}
