@import "../../styles/variables";

$p-top-text: 32px;

.items-list__item {
  &--container {
    display: flex;
    width: 100%;
    background: #fff;
  }

  &--link {
    text-decoration: none;
  }

  &--thumbnail {
    &-container {
      min-width: 180px;
      min-height: 180px;
      margin: 16px;
      display: grid;
      place-items: center;
    }

    max-width: 180px;
    max-height: 180px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 4px;
  }

  &--details {
    &-container {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    &-price {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      column-gap: 5px;
      padding-top: $p-top-text;
      color: $font-color-mid;
      font-size: 24px;
      font-weight: 400;
    }

    &-shipping {
      padding-left: 4px;
      width: auto;
      height: 18px;
    }

    &-title {
      padding-top: 32px;
      font-size: 18px;
      font-weight: 400;
      color: $font-color-mid;
      text-wrap: balance;
    }
  }

  &--condition {
    font-size: 12px;
    padding-top: $p-top-text;
    margin-left: auto;
    min-width: 200px;
    color: $font-color-mid;
  }
}
